* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    display: flex;
    gap: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    outline: 1px solid teal;
    box-shadow: 0 0 3px;
    gap: 30px;
    padding: 20px;
    background-color: white;
    width: 200px;
    height: 600px;
}

.heading {
    font-size: 100px;
    margin-bottom: 20px;
}

.canvas-size-container,
.color-choice-container,
.current-choice-container,
.clear-container{
    /* width: 100px; */
    /* height: 650px; */
    border: 1px solid teal;
    display: flex;
}

.canvas-size-container {
    justify-content: space-between;
    flex-direction: column;
}

.color-choice-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.current-color-container {
    display: flex;
    justify-content: center;
}

.clear-container {
    flex-direction: column;
}

.clear-button {
    height: 40px;
    font-family: inherit;
    font-size: 25px;
}

.generate-canvas {
    font-size: 30px;
    padding: 5px;
    font-family: inherit;
}

.current-color {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
}

.current-size {
    font-size: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 10px;
}

.container-border {
    width: 650px;
    height: 650px;
    border: 10px solid teal;
    border-radius: 5px;
    background-color: darkcyan;
    box-shadow: 0 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.settings-border.container-border {
    width: 250px;
}

.container {
    outline: solid 1px teal;
    box-shadow: 0 0 3px;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.square {
    border: solid 1px lightgrey;
    background-color: white;
}

.color-button {
    height: 49px;
    width: 49px;
    border: 5px solid grey;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

.red-button {
    background-color: red;
}

.blue-button {
    background-color: blue;
}

.yellow-button {
    background-color: yellow;
}